<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Width Pics - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <style>
        body {
            margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }

        .image-bg-fluid-height,
        .image-bg-fixed-height {
            text-align: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }

        .image-bg-fluid-height {
          /*  background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;*/
            padding: 100px 0;
        }

        .image-bg-fixed-height {
            background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
            height: 450px;
        }

        .img-center {
            margin: 0 auto;
        }

        section {
            padding: 75px 0;
        }

        .section-heading {
            margin: 30px 0;
            font-size: 4em;
        }

        .section-lead {
            margin: 30px 0;
        }

        .section-paragraph {
            margin: 30px 0;
        }

        footer {
            margin: 50px 0;
        }

        .negative {
            color:red;
        }

        th {
            text-align:center;
        }

        table tr.no-border td {
            border:0;
        }

        .no-border {
            border:0;
        }

        .money {
            text-align:right;
        }

        .bold {
            font-weight:bold;
        }

        @media(max-width:768px) {
            section {
                padding-top: 25px;
                padding-bottom: 25px;
            }

            .section-heading {
                font-size: 2em;
            }
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="http://placehold.it/200x200&text=Logo" alt="">
    </header>

    <!-- Content Section -->
    <section id="calculation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Kvar efter försäljning</h1>


                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="sale" class="col-sm-2 control-label">Försäljningspris</label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" id="sale" v-model="sale">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="arvode" class="col-sm-2 control-label">Mäklararvode</label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" id="arvode" v-model="commision">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">Inköpspris</label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" id="price" v-model="price">
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="improve" class="col-sm-2 control-label">Förbättringsåtgärder</label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" id="improve" v-model="improvement">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="uppskov" class="col-sm-2 control-label">Uppskov av skatt</label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" id="uppskov" v-model="uppskov">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="loan" class="col-sm-2 control-label">Lån på bostaden</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="loan" v-model="loan">
                            </div>
                        </div>
                    </form>


                    <table class="table">
                        <colgroup>
                        <col span="2" style="background-color:white">
                        <col span="4" style="background-color:#eee">
                    </colgroup>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Värde nu</th>
                                <th class="negative">-25%</th>
                                <th class="negative">-10%</th>
                                <th>+10%</th>
                                <th>+25%</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Försäljningspris</td>
                                <td class="money bold" v-for="percentage in percentageRanges">{{ format(saleCalculation(percentage)) }}</td>
                            </tr>
                            <tr class="no-border">
                                <td>Mäklararvode</td>
                                <td class="money" v-for="percentage in percentageRanges">{{ format(-commisionCalculation(percentage)) }}</td>
                            </tr>
                            <tr class="no-border">
                                <td>Uppskov av skatt</td>
                                <td class="money" v-for="percentage in percentageRanges">{{ format(uppskov) }}</td>
                            </tr>
                            <tr class="no-border">
                                <td>Inköpspris + förb.</td>
                                <td class="money" v-for="percentage in percentageRanges">{{ format(-(price + improvement)) }}</td>
                            </tr>
                            <tr>
                                <td>Reavinst/förlust</td>
                                <td class="money" v-for="percentage in percentageRanges">{{ format(capitalGain(percentage)) }}</td>
                            </tr>
                            <tr class="no-border">
                                <td>Skatt (22%)</td>
                                <td class="money" v-for="percentage in percentageRanges">{{ format(-tax(percentage)) }}</td>
                            </tr>
                            <tr>
                                <td>Pengar "i handen"</td>
                                <td class="money" v-for="percentage in percentageRanges">{{ format(moneyLeft(percentage)) }}</td>
                            </tr>
                            <tr class="no-border">
                                <td>Betala bort lånet</td>
                                <td class="money" v-for="percentage in percentageRanges">{{ format(-loan) }}</td>
                            </tr>
                            <tr>
                                <td style="border-top:2px solid #ccc"><strong>Kvar i din plånbok</strong></td>
                                <td class="money" style="border-top:2px solid #ccc" v-for="percentage in percentageRanges"><strong>{{ format(total(percentage)) }}</strong></td>
                            </tr>
                            <tr class="no-border" style="font-style:italic;">
                                <td style="padding-top:40px;">Belåningsgrad</td>
                                <td  class="money" style="padding-top:40px;" v-for="percentage in percentageRanges">{{ advanceRation(percentage) }}%</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>



    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>

    <!-- jQuery -->
    <script
			  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
			  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
			  crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script>

        var app = new Vue({
            el: '#calculation',
            data: {
                price: 1000000,
                sale: 1500000,
                commision: 3,
                improvement: 0,
                uppskov: 0,
                loan: 500000,
                percentageRanges: [100, 75, 90, 110, 125]
            },
            methods: {
                format: function(v, c, d, t){
                    var n = v, 
                        c = isNaN(c = Math.abs(c)) ? 0 : c, 
                        d = d == undefined ? "." : d, 
                        t = t == undefined ? "," : t, 
                        s = n < 0 ? "-" : "", 
                        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), 
                        j = (j = i.length) > 3 ? j % 3 : 0;
                    return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
                },
                saleCalculation: function(percentage){
                    if(!percentage)
                        percentage = 100;
                    return this.sale * (percentage/100);
                },
                commisionCalculation: function(percentage) {
                    return this.commision*(this.saleCalculation(percentage))/100;
                },
                capitalGain: function(percentage) {
                    return this.saleCalculation(percentage) - (this.commisionCalculation(percentage) + this.improvement + this.price) + this.uppskov;
                },
                tax: function(percentage){
                    return 0.22*this.capitalGain(percentage);
                },
                moneyLeft: function(percentage) {
                    return this.saleCalculation(percentage) - this.commisionCalculation(percentage) - this.tax(percentage);
                },
                total: function(percentage) {
                    return this.moneyLeft(percentage) - this.loan;
                },
                advanceRation: function(percentage){
                    return this.format((this.loan / this.saleCalculation(percentage))*100);
                }
            }
        });

    </script>

</body>

</html>
